

.maindiv{
width:1349px;
height: 970px;

float: left;

}

.bannerdiv{

float: left;

width: 100%;


}

.bannerdiv img{
	width: 100%;
	overflow: none;
}


.belowbannerdiv{

	background-color: rgb(35,33,36);
	width: 100%;
	height: 520px;

	float: left;
	
	
	
}

.verticalcontainerdiv{

	position: absolute;
	margin-left: 270px;
	margin-right: 270px;
	width: 790px;
	height: 960px;
	


}

.logodiv{

	float: left;
}

.parentlogodiv{

float: left;

}

.logodiv img{
	margin-top:15px;
	margin-left: 50px;

}

.logolistdiv{

	float: right;
	margin-top: 25px;
	margin-left: 60px;
	
}




.logolistdiv ul li{
	list-style-type: none;
	display: inline;
	text-decoration: none;
	padding: 15px;


	
	

}

.logolistdiv ul a{

	font-family: Arial;
	color: white;
	text-decoration: none;
	padding:6px;
	background-size:100% auto;
	

	
}

.logolistdiv ul li a:hover{
	background-color:rgba(0,0,0,0.6);

	border-radius:5px;

	

	
}



.logolistdiv ul  button{
	
	border-radius: 5px;
	background-color: transparent;
	

}

.parentslidediv{

	
	margin-top:85px;
	height: 333px;
}

.parentcontentdiv{
	
	
	
}

.leftcontent{
   float: left;
   
   width: 280px;
   padding: 10px;
   margin-top: 40px;
   margin-left: 5px;

}

.parentslidediv .leftcontent span{

	font-family: arial;
	color: white;
	font-size: 30px;
	text-align: left;
}

.parentslidediv .leftcontent p{
    font-family: calibri;
    font-size: 15px;
    color:white;
    padding: 1px;


}

.parentslidediv .leftcontent button{

border:none;
background: transparent;
margin-top: 2px;
margin-left: 0px;
padding: 0px;

}

.parentslidediv .leftcontent a{
	text-decoration:none;
	padding: 5px;
	background-repeat: no-repeat;
	text-align: center;
	background-image:url(../Images/pinko/learnbg.png);
	border-radius: 6px;
	color: white;

}


.rightcontent{
   float: right;
   
}

.cityimg{


padding:0px;
border:1px solid black;
border-radius: 8px;
margin-top: 20px;
margin-right: 15px;
padding: 20px;
background-color: rgba(0,0,0,0.3);

}


.content1div{

	border-bottom:2px solid white;
	
	height: 260px;
}

.welcomepinkodiv{
	padding: 10px;
	margin-left: 5px;
	color: white;
	font-family: arial;
	font-size:30px;
	margin-top: 35px; 
}

.cushiondiv{

	
	width: auto;
	height: 200px;
	margin-left: 5px;
}

.cushionimg{
float: left;
padding:0px;
border:5px solid black;
margin-top: 10px;
margin-left: 10px;	

}

.cushioncontent{
float: right;

margin-right: 5px;
margin-top: 3px;
width: 444px;
padding: 2px;



}

.pgraph{
    padding:0px;
    margin:0px;
	text-align: left;
	color: white;
	font-family:calibri ;
	font-size: 15px;
	overflow: none;
}



.cushioncontent  p {
    
    
	padding: 0px;
	margin:0px;
}

.boxcontentdiv {

	

	
	padding: 6px;
	
	overflow: auto;




}

.divscontent{

	height:100px;
	width: 252px;
	
	float: left;
	display: inline;
	color: white;
	margin-left: 7px;
	margin-top: 2px;
	
	
}

.minihead{
font-size: 26px;
float: left;
width: 100%;

}

.wand{
margin-top: 5px;	
float: left;

}

.internaltext{
    margin-top: 10px;
	padding: 0px;
	font-size: 14px;
	font-family: calibri;
	

	
	
}

.internaltext span{
	
}

.button{
	float: left;
	margin-top: 0px;
	background: transparent;
	margin-top:3px;

}

.button button a{
	background-color:black;
	text-decoration: none;
	padding:2px;
	border-radius:10px;

}

.button button{

	background: transparent;
	border:none;
	border-radius:10px;
}

.belows{

	background-color: black;
	float: left;
	width: 100%;
	height: 60px;

	
	}

.belows p{
	color: white;
	text-align: center;
	font-family: calibri;
}	